
# Arquivos de compilação do Zig
/zig-cache/
/zig-out/

# Binários e executáveis
*.exe
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.out

# Arquivos específicos de sistemas operacionais
.DS_Store
Thumbs.db

# Diretórios de IDE/Editores
.vscode/
.idea/
*.swp
*.swo

# Arquivos de usuário/dependências locais
/local/
